.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.calc-box {
  border: 1px solid black;
  width: 1000px;
  height: 500px;
}
.inactive {
  width: 100px;
  height: 50px;
  border: 1px solid black;
  border-bottom: none;
  background: white;
  flex-direction: row;
}
.active {
  width: 100px;
  height: 50px;
  border: 1px solid black;
  border-bottom: none;
  background: green;
  flex-direction: row;
}
#info-bar {
  border: 1px solid green;
  background: green;
  height: 40px;
}
.dns-form {
}
.dns-calc input {
  margin-left: 30px;
  margin-top: 10px;
  width: 50px;
}

.invisible {
  visibility: hidden;
  margin: 0px;
  width: 0px;
  height: 0px;
}
