.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.calc-box {
  border: 1px solid black;
  width: 1000px;
  height: 500px;
}
.inactive {
  width: 100px;
  height: 50px;
  border: 1px solid black;
  border-bottom: none;
  background: white;
  flex-direction: row;
}
.active {
  width: 100px;
  height: 50px;
  border: 1px solid black;
  border-bottom: none;
  background: green;
  flex-direction: row;
}
#info-bar {
  border: 1px solid green;
  background: green;
  height: 40px;
}
.dns-form {
}
.dns-calc input {
  margin-left: 30px;
  margin-top: 10px;
  width: 50px;
}
.sonar-calc {
  border: 0.5px solid lightgray;
  background: lightgray;
  margin: 10px 5px 10px 5px;
  padding: 10px;
}
.invisible {
  visibility: hidden;
  margin: 0px;
  width: 0px;
  height: 0px;
}

/* Model Display */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
/* End Of Modal */